
@model HTTP5101_Assignment2_Natasha_Chambers.Models.BMI

@{
    ViewBag.Title = "Show BMI";

}

<h2>BMI Calculation</h2>

<p>The patient's <strong>BMI: @Model.PatientBMI</strong>.</p>
<p>According to the table, the patient's weight category is <strong>@Model.PatientCategory</strong>.</p>